/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/repos
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
reports/*
conf/*
coverage.xml
sonar-cnes-report-*.jar
*parkfore-tools-public-backend-analysis-report.docx
*sparkfore-tools-public-backend-analysis-report.md
*sparkfore-tools-public-backend-issues-report.csv
*sparkfore-tools-public-backend-issues-report.xlsx
